@use "../../../styles/base";
@use "../../../styles/mixins";

.goals {
  @include mixins.col-between;
  width: 100%;

  .goal {
    background-color: base.$light-200;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 0.25rem;
    height: auto;
    width: 80%;
    cursor: pointer;

    &:hover {
      background-color: base.$accent-400;
      box-shadow: 0 0 17px 4px rgba(0, 6, 16, 0.1);
    }

    .goal-title {
      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: 0.05rem;

      .goal-title-span {
        font-size: 0.9rem;
        font-weight: 700;
        float: right;
        letter-spacing: normal;
      }
    }

    .goal-btn {
      float: right;
    }
  }
}
