<div class="goals">
  <p *ngIf="goals.length > 2">
    Hizo Kazzie ni mob kijana na sioni <br />
    hio kazi lakini usipangwe aisee!! - {{ goals.length }} Goals
  </p>
  <div class="goal" *ngFor="let goal of goals; let i = index">
    <div class="goal-title" appStrikethrough>
      {{ goal.name }}
      <p class="goal-title-span" appStrikethrough>
        DUE {{ goal.completeDate | date | uppercase }}
      </p>
    </div>
    <app-goal-detail
      *ngIf="goal.showDescription"
      [goal]="goal"
      (isComplete)="completeGoal($event, i)"
    ></app-goal-detail>
    <app-button
      class="goal-btn"
      (click)="toggleDetails(i)"
      text="Toggle"
    ></app-button>
  </div>
</div>
