@use "../../../styles/base";
@use "../../../styles/mixins";

.goal-detail {
  @include mixins.row-between;
  align-items: flex-start;
  margin: 1rem 0;
  .delete {
    @include mixins.icon;
    background-color: base.$accent-100;
    color: base.$light-100;
  }
}
