// Font Family
$font: "Urbanist", sans-serif;

// Color Palette

// Light
$light-100: #fefeff;
$light-200: #d6efff;
$light-300: #c2e8ff;
$light-400: #ade0ff;
$light-500: #99d8ff;

// Accents
$accent-100: #ef8089;
$accent-200: #f4e27b;
$accent-300: #b8f4d0;
$accent-400: #85d0ff;
$accent-500: #e4c1f9;

// Dark
$dark-100: #5160a4;
$dark-200: #435089;
$dark-300: #3d487b;
$dark-400: #2f3860;
$dark-500: #1b2037;
