// Font Family
$font: "Urbanist", sans-serif;

// Color Palette

// Light
$light-100: #dce3f9;
$light-200: #b3c2f2;
$light-300: #96abed;
$light-400: #738fe7;
$light-500: #5172e1;

// Accents
$accent-100: #f8b4cd;
$accent-200: #f4e27b;
$accent-300: #b8f4d0;
$accent-400: #a9def9;
$accent-500: #e4c1f9;

// Dark
$dark-100: #5160a4;
$dark-200: #435089;
$dark-300: #3d487b;
$dark-400: #2f3860;
$dark-500: #1b2037;
